html {
  --color-emerald-50:  #e4f6f4;
  --color-emerald-100: #c0e5e0;
  --color-emerald-200: #9bd4cd;
  --color-emerald-300: #77c3b9;
  --color-emerald-400: #52b2a5;
  --color-emerald-500: #2ea192;
  --color-emerald-600: #09907e;
  --color-emerald-700: #087869;
  --color-emerald-800: #066054;
  --color-emerald-900: #05483f;

  --color-gray-50:  #f7f9f8;
  --color-gray-100: #f0f3f2;
  --color-gray-200: #E7EAEA;
  --color-gray-300: #CFD6D5;
  --color-gray-400: #ACB7B6;
  --color-gray-500: #718281;
  --color-gray-600: #5D6A69;
  --color-gray-700: #495453;
  --color-gray-800: #2E3535;
  --color-gray-900: #141717;

  --color-blue-50:  #e7f2fd;
  --color-blue-100: #c2d6eb;
  --color-blue-200: #9db9d9;
  --color-blue-300: #789dc7;
  --color-blue-400: #5381b4;
  --color-blue-500: #2e64a2;
  --color-blue-600: #094890;
  --color-blue-700: #083c78;
  --color-blue-800: #063060;
  --color-blue-900: #052448;
}

html:not(.dark) {
  --color-console-0:  #fafafa;
  --color-console-1:  #ca1243;
  --color-console-2:  #50a14f;
  --color-console-3:  #c18401;
  --color-console-4:  #4078f2;
  --color-console-5:  #a626a4;
  --color-console-6:  #0184bc;
  --color-console-7:  #494b53;
  --color-console-8:  #c2c2c3;
  --color-console-9:  #ca1243;
  --color-console-10: #50a14f;
  --color-console-11: #c18401;
  --color-console-12: #4078f2;
  --color-console-13: #a626a4;
  --color-console-14: #0184bc;
  --color-console-15: #1d1e21;
}

html.dark {
  --color-console-0:  #282c34;
  --color-console-1:  #be5046;
  --color-console-2:  #98c379;
  --color-console-3:  #e5c07b;
  --color-console-4:  #61afef;
  --color-console-5:  #c678dd;
  --color-console-6:  #56b6c2;
  --color-console-7:  #abb2bf;
  --color-console-8:  #5c6370;
  --color-console-9:  #be5046;
  --color-console-10: #98c379;
  --color-console-11: #e5c07b;
  --color-console-12: #61afef;
  --color-console-13: #c678dd;
  --color-console-14: #56b6c2;
  --color-console-15: #ccd0d8;
}
