html:not(.dark) {
  --color-console-0:  #fafafa;
  --color-console-1:  #ca1243;
  --color-console-2:  #50a14f;
  --color-console-3:  #c18401;
  --color-console-4:  #4078f2;
  --color-console-5:  #a626a4;
  --color-console-6:  #0184bc;
  --color-console-7:  #494b53;
  --color-console-8:  #c2c2c3;
  --color-console-9:  #ca1243;
  --color-console-10: #50a14f;
  --color-console-11: #c18401;
  --color-console-12: #4078f2;
  --color-console-13: #a626a4;
  --color-console-14: #0184bc;
  --color-console-15: #1d1e21;
}

html.dark {
  --color-console-0:  #282c34;
  --color-console-1:  #be5046;
  --color-console-2:  #98c379;
  --color-console-3:  #e5c07b;
  --color-console-4:  #61afef;
  --color-console-5:  #c678dd;
  --color-console-6:  #56b6c2;
  --color-console-7:  #abb2bf;
  --color-console-8:  #5c6370;
  --color-console-9:  #be5046;
  --color-console-10: #98c379;
  --color-console-11: #e5c07b;
  --color-console-12: #61afef;
  --color-console-13: #c678dd;
  --color-console-14: #56b6c2;
  --color-console-15: #ccd0d8;
}
